.top-actu{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #CE0033;
    width: 10%;
    display: flex;
    height: 4px;
    margin: 0 auto;
}
.btn-alternance{
    background-color: white;
    color: #CE0033;
    width: 40%;
    height: 50px;
    font-weight: bold;
    border: none;
    margin-left: 30%;
    margin-top: 5%;
}
/* .cardcontainer{
    border: 1px solid green;
    width: 100%;
} */