.topforma1{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #CE0033;
    width: 10%;
    display: flex;
    height: 4px;
    margin: 0 auto;
}
.entete3 { border-top: 5px solid #CE0033; background-image: url(../formations/cybersecurite/image_cyber/ac_forma.jpg); background-repeat: no-repeat; background-size: 100% 100%; margin-top: 138px; }
.card{
    border-bottom-right-radius: 80px 80px;
    box-shadow: 2px 5px 5px #CE0033;
}